*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #2e7d32;
    width: 100%;
    height: 80px;
    padding: 0;
    position: relative;
    position: sticky;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

#Logo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

#menu{
    margin: 18px auto;
    width: 90%;
    position: absolute;
    left: 120px;
}

ul{
    list-style: none;
}

#menu li a{
    background-color: #2e7d32;
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background: #1b5e20;    
    transition: background 0.3s ease;
    border-radius: 10px;
}

#menu > li{
    float: left;
}

#menu li ul{
    display: none;
    min-width: 140px;
    position: absolute;
}

#menu li:hover > ul{
    display: block;
    transition: background 0.3s ease;
}

#menu li ul li{
    position: relative;
}

#menu li ul li ul{
    right: -140px;
    top: 0px;
}

hr{
    width: 80%;
    margin: auto;
}

.banner{
    width: 100%;
    height: 500px;
    margin: 20px auto;
}

.banner img{
    width: 1350px;
    margin: auto;
    height: 500px;
    position: absolute;
}

#llamado-accion{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

#llamado-accion h1{
    margin-bottom: 20px;
}

#llamado-accion p{
    font-size: 20px;
}

.portafolio h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* SERVICIOS*/
#servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* dividimos en 3 columnas*/
    gap: 50px;
    margin: 40px auto;
    width: 70%;
}

#servicios img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    margin: 20px auto;
    align-items: center;
}

#servicios h3{
    margin-bottom: 20px;
}

/*CLIENTES ALIADOS*/
#clientes{
    height: 200px;
    margin: auto;
    width: 90%;
    overflow: hidden;
    border-radius: 12px;
}

#carrusel_clientes{
    display: flex;
    width: calc(250px * 9);
    animation: scroll 50s linear infinite;
}

#clientes img{
    width: 500px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
}

@keyframes scroll{
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

/*FORMULARIO AGENDAR CITAS*/
#formulario{
    width: 95%;
    height: 500px;
    margin: auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;

}

#texto_formulario{
    width: 80%;
    margin-left: 100px;
    height: 400px;
    font-size: 18px;
}

#agendar_cita{
    height: 400px;
    width: 80%;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #c7e7c9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

#agendar_cita .campo{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

#agendar_cita .campo_area{
    width: 80%;
    height: 100px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    resize: none;
}

#agendar_cita #boton{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
}

#agendar_cita #boton:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

/*PIE DE PAGINA*/
#pie-pagina{
    display: grid;
    text-align: center;
    height: 250px;
    padding: 50px;
    color: #f4f6f8;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2e7d32;
    font-size: 18px;
}

#pie-pagina h1{
    margin-bottom: 30px;
}

#pie-pagina img{
    width: 40px;
    margin: 5px;
}

#pie-pagina .icono_indicativo{
    width: 20px;
    margin: 10px 10px;
}

@media (max-width: 1000px) {
    .banner{
        width: 92%;
        height: 400px;
    }

    #formulario{
        grid-template-columns: 1fr;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px){
    .banner{
        width: 92%;
        height: 300px;
    }

    #servicios{
        grid-template-columns: repeat(2, 1fr);
    }

    #clientes{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 670px){
    .banner{
        width: 92%;
        height: 200px;
    }

    #clientes{
        grid-template-columns: repeat(2, 1fr);
    }

    #pie-pagina{
        grid-template-columns: 1fr;
        height: 350px;
    }
}

@media (max-width: 500px){
    .banner{
        width: 92%;
        height: 200px;
    }

    #servicios{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #clientes img{
        width: 500px;
        height: 100px;
        object-fit: cover;
        margin-right: 30px;
        border-radius: 5px;
    }

    #formulario{
        grid-template-columns: 1fr;
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #texto_formulario{
        height: 500px;
    }

    #agendar_cita{
        margin: auto;
    }

    #pie-pagina{
        height: 400px;
        width: 100%;
    }
}