*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #2e7d32;
    width: 100%;
    height: 80px;
    padding: 0;
    position: relative;
    position: sticky;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

#Logo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

#Logo:hover{
    cursor: pointer;
    width: 85px;
    height: 85px;
}

#menu{
    margin: 18px auto;
    width: 90%;
    position: absolute;
    left: 120px;
}

ul{
    list-style: none;
}

#menu li a{
    background-color: #2e7d32;
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background: #1b5e20;    
    transition: background 0.3s ease;
    border-radius: 10px;
}

#menu > li{
    float: left;
}

#menu li ul{
    display: none;
    min-width: 140px;
    position: absolute;
}

#menu li:hover > ul{
    display: block;
    transition: background 0.3s ease;
}

#menu li ul li{
    position: relative;
}

#menu li ul li ul{
    right: -140px;
    top: 0px;
    position: absolute;
}

hr{
    width: 80%;
    margin: auto;
}

#banner_talentohumano{
    background-color: #c7e7c9;
    height: 350px;
}

#banner_talentohumano img{
    width: 100%;
    height: 100%;
}

#informacion{
    height: 650px;
    font-size: 25px;
    width: 80%;
    margin: 40px auto;
    text-align: left;
}

#informacion ul{
    list-style:disc;
    margin-left: 100px;
}

#mision_vision{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 50px;
    width: 70%;
    margin: auto;
    font-size: 20px;
}

#mision_vision h2{
    background-color: #c7e7c9;
    text-align: center;
}

#valores_corporativos{
    background-color: #1b5e20;
    text-align: center;
    margin: 50px auto;
    width: 90%;
    color: beige;
}

#valores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 70%;
    margin: 50px auto;
    font-size: 20px;
}

#valores ul{
    list-style: disc;
}

#valores img{
    width: 80px;
    margin-bottom: 20px;
}

#valores h3{
    margin-bottom: 30px;
}

/*PIE DE PAGINA*/
#pie-pagina{
    display: grid;
    text-align: center;
    height: 200px;
    padding: 50px;
    color: #f4f6f8;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2e7d32;
    font-size: 18px;
}

#pie-pagina h1{
    margin-bottom: 30px;
}

#pie-pagina img{
    width: 40px;
    margin: 5px;
}

#pie-pagina .icono_indicativo{
    width: 20px;
    margin: 10px 10px;
}

@media(max-width: 1115px){
    #informacion{
        width: 90%;
        height: 650px;
        padding-bottom: 20px;
    }
}

@media(max-width: 1030px){
    #informacion{
        width: 90%;
        height: 800px;
        padding-bottom: 20px;
    }
}