*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #2e7d32;
    width: 100%;
    height: 80px;
    padding: 0;
    position: relative;
    position: sticky;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

#Logo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

#menu{
    margin: 18px auto;
    width: 90%;
    position: absolute;
    left: 120px;
}

ul{
    list-style: none;
}

#menu li a{
    background-color: #2e7d32;
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background: #1b5e20;    
    transition: background 0.3s ease;
    border-radius: 10px;
}

#menu > li{
    float: left;
}

#menu li ul{
    display: none;
    min-width: 140px;
    position: absolute;
}

#menu li:hover > ul{
    display: block;
    transition: background 0.3s ease;
}

#menu li ul li{
    position: relative;
}

#menu li ul li ul{
    right: -140px;
    top: 0px;
}

.solicitar{
    background-color: #1b5e20;
    height: 600px;
    width: 1000px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
}

.solicitar h1{
    margin-bottom: 30px;
    color: #f4f6f8;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
}

.formulario{
    width: 45%;
    float: left;
}

.formulario .campo{
    width: 100%;
    height: 30px;
    display: block;
    margin: 2px 2px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
}

.formulario #especificaciones{
    width: 100%;
    height: 100px;
    display: block;
    margin: 2px 2px;
    border: none;
    border-radius: 5px;
}

.formulario #boton{
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin: 50px auto;
    background-color: #f3f7f3;
}

.formulario #boton:hover{
    background-color: #d6f0d6;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
}

#imagen-formulario{
    width: 50%;
    float: right;
    border-radius: 20px;
}