*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #2e7d32;
    width: 100%;
    height: 80px;
    padding: 0;
    position: relative;
    position: sticky;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

#Logo{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

#menu{
    margin: 18px auto;
    width: 90%;
    position: absolute;
    left: 120px;
}

ul{
    list-style: none;
}

#menu li a{
    background-color: #2e7d32;
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background: #1b5e20;    
    transition: background 0.3s ease;
    border-radius: 10px;
}

#menu > li{
    float: left;
}

#menu li ul{
    display: none;
    min-width: 140px;
    position: absolute;
}

#menu li:hover > ul{
    display: block;
    transition: background 0.3s ease;
}

#menu li ul li{
    position: relative;
}

#menu li ul li ul{
    right: -140px;
    top: 0px;
}

hr{
    width: 80%;
    margin: auto;
}

.banner{
    width: 90%;
    height: 350px;
    margin: 20px auto;
    background: url("/img/imagen_banner.jpeg") no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.banner h1{
    font-size: 60px;
    color: black;
}

.banner p{
    font-size: 25px;
    color: black;
}

#llamado-accion{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

#llamado-accion h1{
    margin-bottom: 20px;
}

#llamado-accion p{
    font-size: 20px;
}

.portafolio h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* SERVICIOS*/
#servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* dividimos en 3 columnas*/
    gap: 50px;
    margin: 40px auto;
    width: 70%;
}

#servicios img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    margin: 20px auto;
    align-items: center;
}

#servicios h3{
    margin-bottom: 20px;
}

/*CLIENTES ALIADOS*/
#clientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* dividimos en 4 columnas*/
    gap: 50px;
    margin: 40px auto;
    width: 70%;
}

#clientes h1{
    text-align: center;
}

#clientes img{
    width: 150px;
}

/*PIE DE PAGINA*/
#pie-pagina{
    display: grid;
    text-align: center;
    height: 250px;
    padding: 50px;
    color: #f4f6f8;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2e7d32;
    font-size: 18px;
}

#pie-pagina h1{
    margin-bottom: 30px;
}

#pie-pagina img{
    width: 40px;
    margin: 5px;
}

#pie-pagina .icono_indicativo{
    width: 20px;
    margin: 10px 10px;
}

@media (max-width: 1000px) {
    .banner{
        width: 80%;
    }
}

@media (max-width: 900px){
    #servicios{
        grid-template-columns: repeat(2, 1fr);
    }

    #clientes{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 670px){
    #clientes{
        grid-template-columns: repeat(2, 1fr);
    }

    #pie-pagina{
        grid-template-columns: 1fr;
        height: 350px;
    }
}

@media (max-width: 500px){
    .banner h1{
        font-size: 40px;
        color: black;
    }

    .banner p{
        font-size: 20px;
        color: black;
    }

    #servicios{
        grid-template-columns: 1fr;
    }

    #clientes{
        grid-template-columns: 1fr;
    }
}